extends layout

block mainContent
	h2 Adding user in #{groupname}
	
	p
		if(groupname)
			a(href='/group/#{groupname}', class="button small pink") &laquo;  Back to group list
		else
			a(href='/', class="button small pink") &laquo;  Back to index
	
	if error
		p.error Something went terribly bad: #{error}
	
	form(method='post')
		div(class='listRow')
			label user to add:
				select(name='username', required)
					option(value='')
					if(others)
						for other in others
							option(value='#{other}') #{other}
	
		div.formFooter
			input(type='submit', value='Add')
