extends layout

block mainContent
	p
		if(thingname)
			a(href='/thing/#{thingname}', class="button small pink") &laquo;  Back to service list
		else
			a(href='/index', class="button small pink") &laquo;  Back to index

	if error
		p.error Something went terribly bad: #{error}
		
	h2 Showing groups for this service: #{servicename}
		
	p
		a(href='/service/#{encodeServicename}/grant', class='button small green') + grant service to new group
			
		each group in groups
			li.listRow= group + ' '
				a(href='/service/#{encodeServicename}/ungrant/#{group}', onclick='return confirm(\'Are you sure that you want to delete this group?\');', class='button small  delete') delete
				|	
				a(href='/service/#{encodeServicename}/grant/#{group}/capability', class='button small  edit') edit		
		each user in users
			li.listRow= user + ' '
				a(href='/service/#{encodeServicename}/ungrant/#{user}', onclick='return confirm(\'Are you sure that you want to delete this user?\');', class='button small  delete') delete
				|	
				a(href='/service/#{encodeServicename}/grant/#{user}/capability', class='button small  edit') edit	