extends layout

block mainContent
	p
		a(href='/index', class="button small pink") &laquo;  Back to index

	if error
		p.error Something went terribly bad: #{error}
		
	h2 Showing services for your thing: #{thingname}
		
	p
		each encodeservice, index in encodeservices
			li.listRow= services[index] + ' '
				a(href='/service/#{encodeservice}/view', class='button small edit') view
				if owner
					a(href='/service/#{encodeservice}', class='button small edit') grant		
		
		