extends layout

block mainContent
	h2 Granting group for #{servicename}
	
	p
		if(servicename)
			a(href='/service/#{encodeServicename}', class="button small pink") &laquo;  Back to service
		else
			a(href='/index', class="button small pink") &laquo;  Back to index
	
	if error
		p.error Something went terribly bad: #{error}
	
	form(method='post')
		div(class='listRow')
			label group to grant:
				select(name='grantname', required)
					option(value='')
					if(otherGroups)
						for otherGroup in otherGroups
							option(value='#{otherGroup}') #{otherGroup}
					if(otherUsers)
						for otherUser in otherUsers
							if(otherUser != user.email)
								option(value='#{otherUser}') #{otherUser}
	
		div.formFooter
			input(type='submit', value='Grant')
