extends layout

block mainContent
	p
		a(href='/index', class="button small pink") &laquo;  Back to index

	if error
		p.error Something went terribly bad: #{error}
		
	h2 Showing users for this group: #{groupname}
		
	p
		a(href='/group/#{groupname}/join', class='button small green') + include new user in this group
			
		each user in users
			li.listRow= user + ' '
				a(href='/group/#{groupname}/unjoin/#{user}', onclick='return confirm(\'Are you sure that you want to delete this user?\');', class='button small  delete') delete
		